body {
    text-align: center;
    background: slategray;
}
h1 img {
    width: 489px;
    margin-top: 20px;
}
input {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #000000;
    border-radius: 4px;
    background: #fdfdfd;
    font-size: 20px;
    padding: 10px;
    margin: 4px;
}
button {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #000000;
    border-radius: 4px;
    background: #d8d8d8;
    font-size: 20px;
    padding: 10px;
    margin: 2px;
}
.result{
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;
}
.mainDiv{
    padding: 10px;
    background: silver;
}